@import url(./customCheckBox.css);

:root {
    /* Background */
    --color-bg-primary: #F4F5FB;
    --color-bg-secondary: #FFFFFF;

    /* Brand */
    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;

    /* Content */
    --color-content-primary: #080B12;
    --color-content-secondary: #374151;
    --color-content-tertiary: #9CA3AF;
    --color-always-white: #FFFFFF;
    
    /* Border */
    --color-border-primary: #D1D5DB;
    --color-border-hover: #B9C2D0;

    /* Font */
    --font-family: 'Inter', sans-serif;

    --font-title: 700 24px/30px var(--font-family);
    --font-label: 600 16px/20px var(--font-family);
    --font-paragraph: 500 16px/24px var(--font-family);
    --font-link: 500 14px/16px var(--font-family);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--color-bg-primary);
}

ul {
    list-style: none;
}   

a {
    text-decoration: none;
}

a:visited {
    color: var(--color-brand);
}

header {
    text-align: center;
}

@media (max-width: 627px) {
    header {
        display: none;
    }
}

.container {
    max-width: 627px;
    margin: 0 auto;
    padding: 25px;
}

.return {
    display: inline-block;

    font: var(--font-link);
    color: var(--color-brand);
    cursor: pointer;

    margin-bottom: 16px;
}

.return:hover {
    color: var(--color-brand-hover);
}

.list-title {
    font: var(--font-title);
    color: var(--color-content-primary);

    margin-bottom: 44px;
}

#shopping-list {
    display: flex;
    gap: 16px;
    margin-bottom: 40px;
}

@media (max-width: 627px) {
    #shopping-list {
        flex-direction: column;
    }
}

#shopping-list input {
    flex: 3;

    padding: 12px 18px;

    border: 2px solid var(--color-border-primary);
}

#shopping-list input:hover {
    border-color: var(--color-border-hover);
}

#shopping-list input:focus {
    outline: none;
    border-color: var(--color-brand);
}

#shopping-list button {
    flex: 1;

    padding: 12px 24px;

    color: var(--color-always-white);
    background-color: var(--color-brand);
    cursor: pointer;
    border: none;
}

#shopping-list button:hover {
    background-color: var(--color-brand-hover);
}

#shopping-list input, #shopping-list button {
    font: var(--font-label);

    border-radius: 12px;
}

#list {
    display: flex;
    flex-direction: column;
    gap: 12px;

    max-height: 580px;
    overflow-y: auto;
    /* scrollbar-gutter: stable both-edges; */
}

#list::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.list__item {
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 16px 12px;
    border-radius: 12px;

    background: var(--color-always-white);

    font: var(--font-paragraph);
}

.list__item-description {
    flex: 1;
}

.list__item-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
}

.list__item-delete {
    cursor: pointer;
}